# USE with CAUTION!!! (Condo Report Only)
## 2016 ~ 2019 ONLY

# Import libraries
import pandas as pd
import camelot
import glob

# Create a function to remove items from the original main list
def remove_item(target, original):
    for item in target:
        original.remove(item)

# Go to the raw directory which saves all the pdf files
file_path = r'C:\Users\johnn\OneDrive\Desktop\UofT SCS Data Analytics Boot Camp\Module 20 - Final Project\Data-Analytics-Boot-Camp---Final-Project\pdf_collection\new'
all_pdf_files = glob.glob(file_path + "/*.pdf")
all_pdf_files

# Extract all the table data
pdf_table_1 = []
pdf_table_2 = []
for pdf_file in all_pdf_files:
    table_collection = camelot.read_pdf(pdf_file, pages = "all")
    pdf_table_1.append(table_collection[3].df.loc[0][0])
    pdf_table_2.append(table_collection[4].df.loc[0][0])

table_collection[2].df.loc[0][0]

# Process the first table

def table_1_process(info_raw_1):
    # Split the contents by delimiers
    info_split_1 = info_raw_1.split("\n")

    # Remove dummy contents
    info_split_clean_1 = info_split_1[8:]

    # Extract column names and then remove from the main list
    column_names_1 = info_split_clean_1[:8]
    remove_item(column_names_1, info_split_clean_1)

    # Hardcode to remove this weird "Gwillimbury" from the list :(
    info_split_clean_1.remove("Gwillimbury")

    # Hardcode the number of regions in Ontario then get the notations, then remove from the main list
    num_region_Ontario = 41
    Toronto_notation_1 = []
    for i in range(num_region_Ontario):
        Toronto_notation_1.append(info_split_clean_1[i * 9])
    remove_item(Toronto_notation_1, info_split_clean_1)

    # Determine the number of rows for the table
    num_row_1 = len(Toronto_notation_1)

    # Fill in column values
    column_values_1 = []
    for i in range(num_row_1):
        column_values_1.append(info_split_clean_1[i * 8:(i+1)*8])

    # Form dataframe and assign index
    final_df_1 = pd.DataFrame(column_values_1, columns = column_names_1)
    final_df_1.index = Toronto_notation_1

# Output all the processed table_1
file_index = 2016
quarter = 1
for table_1 in pdf_table_1:
    if file_index > 2019:
        quarter = quarter + 1
        file_index = 2016
        table_1_process(table_1)
        final_df_1.to_csv(f'table_processed/{file_index}_Q{quarter}_table_1.csv', index = True, encoding = 'utf-8')
        file_index = file_index + 1
    else:
        table_1_process(table_1)
        final_df_1.to_csv(f'table_processed/{file_index}_Q{quarter}_table_1.csv', index = True, encoding = 'utf-8')
        file_index = file_index + 1

# Process the second table

def table_2_process(info_raw_2):
    # Split the contents by delimiers
    info_split_2 = info_raw_2.split("\n")

    # Remove dummy contents
    info_split_clean_2 = info_split_2[8:]

    # Extract column names and then remove from the main list
    column_names_2 = info_split_clean_2[:8]
    remove_item(column_names_2, info_split_clean_2)

    # Extract notations and combine, then remove from the main list
    Toronto_area = list(filter(lambda x: 'Toronto' in x, info_split_clean_2))
    other_notation = list(filter(lambda x: 'TREB' in x, info_split_clean_2))
    Toronto_notation = other_notation + Toronto_area
    remove_item(Toronto_notation, info_split_clean_2)

    # Determine the number of rows for the table
    num_row_2 = len(Toronto_notation)

    # Fill in column values
    column_values_2 = []
    for i in range(num_row_2):
        column_values_2.append(info_split_clean_2[i * 8:(i+1)*8])

    # Form dataframe and assign index
    final_df_2 = pd.DataFrame(column_values_2, columns = column_names_2)
    final_df_2.index = Toronto_notation

# Output all the processed table_2
file_index = 2016
quarter = 1
for table_2 in pdf_table_2:
    if file_index > 2019:
        quarter = quarter + 1
        file_index = 2016
        table_2_process(table_2)
        final_df_2.to_csv(f'table_processed/{file_index}_Q{quarter}_table_2.csv', index = True, encoding = 'utf-8')
        file_index = file_index + 1
    else:
        table_2_process(table_2)
        final_df_2.to_csv(f'table_processed/{file_index}_Q{quarter}_table_2.csv', index = True, encoding = 'utf-8')
        file_index = file_index + 1

In [1]:
# Method II - Tabula
import tabula

In [135]:
file = "test.pdf"
table = tabula.read_pdf(file, pages = [7,8,10])

In [136]:
len(table)

5

In [137]:
table[0]

,Unnamed: 0,Sales Av. Price,Unnamed: 1,Med. Price Sales,Unnamed: 2,Unnamed: 3,Av. Price Med. Price
0,E-1,"14 221,007",NaN,"195,000 23",NaN,NaN,"197,255 184,000"
1,E-2,"17 276,888",NaN,"290,000 27",NaN,NaN,"257,928 227,000"
2,E-3,"47 206,385",NaN,"201,500 12",NaN,NaN,"207,325 193,000"
3,E-4,"21 202,843",NaN,"205,000 3",NaN,NaN,"156,000 156,000"
4,E-5,"22 264,057",NaN,"264,500 3",NaN,NaN,"218,333 211,000"
5,E-6,"36 208,961",NaN,"188,750 3",NaN,NaN,"196,667 164,000"
6,E-7,"45 263,076",NaN,"243,000 10",NaN,NaN,"202,377 205,000"
7,E-8,"22 251,702",NaN,"218,500 2",NaN,NaN,"179,000 179,000"
8,E-9,"29 218,872",NaN,"221,000 5",NaN,NaN,"184,900 180,000"
9,E-10,"26 260,992",NaN,"237,000 1",NaN,NaN,"214,000 214,000"
10,E-11,"16 209,363",NaN,"196,500 12",NaN,NaN,"173,375 172,250"
11,E-12,"9 193,500",NaN,"177,000 1",NaN,NaN,"164,500 164,500"
12,E-13,"57 259,290",NaN,"251,500 9",NaN,NaN,"181,311 180,000"
13,E-14,"64 205,169",NaN,"198,500 2",NaN,NaN,"161,250 161,250"
14,E-15,"51 210,418",NaN,"214,000 3",NaN,NaN,"143,667 146,000"
15,E-16,"102 152,308",NaN,"146,000 21",NaN,NaN,"120,852 123,000"
16,E-17,"41 203,270",NaN,"185,000 4",NaN,NaN,"129,750 124,750"
17,E-18,"3 394,667",NaN,"285,000 -",NaN,NaN,- -
18,E-19,"3 195,667",NaN,"181,000 -",NaN,NaN,- -
19,E-20,"8 164,813",NaN,"155,000 -",NaN,NaN,- -
20,E-21,"36 177,219",NaN,"175,200 2",NaN,NaN,"128,950 128,950"
21,NaN,Townhouse Condominiums,NaN,Condominium Apartments,NaN,NaN,Link Houses
22,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price Med. Price
23,E-1,"3 144,167 136,000",NaN,- - -,NaN,-,- -
24,E-2,- -,-,"1 68,500 68,500",NaN,-,- -
25,E-3,"1 150,000 150,000",NaN,"32 117,466 107,000",NaN,-,- -
26,E-4,"5 142,800 156,000",NaN,"21 111,076 113,500",NaN,-,- -
27,E-5,"17 165,647 157,000",NaN,"47 153,342 149,500",NaN,8,"224,324 226,300"
28,E-6,- -,-,"3 149,333 140,000",NaN,-,- -
29,E-7,"12 166,054 164,000",NaN,"28 131,042 136,600",NaN,8,"201,250 203,500"
30,E-8,"7 138,429 138,500",NaN,"19 145,230 138,888",NaN,1,"184,000 184,000"
31,E-9,"3 116,167 134,000",NaN,"27 134,356 144,000",NaN,-,- -
32,E-10,"6 135,250 134,500",NaN,"5 109,000 108,000",NaN,-,- -
33,E-11,"11 148,591 146,000",NaN,"16 111,838 112,500",NaN,8,"195,750 188,500"
34,E-12,- -,-,"1 109,500 109,500",NaN,3,"190,667 194,000"
35,E-13,"10 147,790 143,450",NaN,"6 131,533 131,850",NaN,7,"177,500 175,500"
36,E-14,"11 122,909 120,000",NaN,"10 113,360 103,000",NaN,4,"171,125 173,750"
37,E-15,"6 124,917 127,250",NaN,"5 114,840 110,000",NaN,11,"178,723 182,250"
38,E-16,"14 87,693 94,500",NaN,"4 115,625 93,750",NaN,11,"136,491 138,000"
39,E-17,"6 115,650 111,250",NaN,- - -,NaN,23,"156,324 154,500"
40,E-18,- -,-,- - -,NaN,-,- -
41,E-19,- -,-,- - -,NaN,2,"194,450 194,450"
42,E-20,- -,-,- - -,NaN,1,"130,000 130,000"
43,E-21,- -,-,- - -,NaN,-,- -
44,NaN,Attached/Row,NaN,Co-op Apartments,NaN,Detached Condominiums,NaN
45,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price Med. Price
46,E-1,"11 205,620 207,000",NaN,- - -,NaN,-,- -
47,E-2,"3 230,950 212,950",NaN,- - -,NaN,-,- -
48,E-3,"3 209,967 209,900",NaN,- - -,NaN,-,- -
49,E-4,- -,-,- - -,NaN,-,- -
50,E-5,"1 194,000 194,000",NaN,- - -,NaN,-,- -
51,E-6,- -,-,- - -,NaN,-,- -
52,E-7,"7 186,784 184,989",NaN,- - -,NaN,-,- -
53,E-8,"1 193,000 193,000",NaN,- - -,NaN,-,- -
54,E-9,- -,-,- - -,NaN,-,- -
55,E-10,- -,-,- - -,NaN,-,- -
56,E-11,"3 173,700 165,000",NaN,- - -,NaN,-,- -
57,E-12,- -,-,- - -,NaN,-,- -
58,E-13,"6 167,333 171,500",NaN,- - -,NaN,-,- -
59,E-14,"11 166,909 165,000",NaN,- - -,NaN,1,"143,000 143,000"
60,E-15,"5 152,680 153,000",NaN,- - -,NaN,-,- -
61,E-16,"4 126,125 122,750",NaN,- - -,NaN,-,- -
62,E-17,"8 116,750 116,500",NaN,- - -,NaN,-,- -
63,E-18,- -,-,- - -,NaN,-,- -
64,E-19,"1 150,000 150,000",NaN,- - -,NaN,-,- -
65,E-20,- -,-,- - -,NaN,-,- -
66,E-21,- -,-,- - -,NaN,-,- -

In [138]:
table[1]

   Unnamed: 0  Sales Av. Price Med. Price Sales.1 Av. Price.1 Med. Price.1
0         C-1      4   255,500    265,000      10     263,380      264,500
1         C-2     15   364,433    347,000      18     378,367      333,500
2         C-3     23   432,361    290,000       5     185,360      147,000
3         C-4     55   490,956    420,000       7     304,857      308,000
4         C-6     13   272,992    255,000       -           -            -
5         C-7     24   330,913    281,250       4     259,600      262,450
6         C-8      3   428,250    354,000       7     412,500      405,000
7         C-9      4   772,450    609,400       2   1,222,500    1,222,500
8        C-10     28   572,284    496,500      16     314,844      296,000
9        C-11     10   416,300    418,000       2     302,500      302,500
10       C-12     26   745,723    639,000       -           -            -
11       C-13     16   327,913    315,000       9     218,111      211,500
12       C-14     29   399,752    336,500       -           -            -
13       C-15     25   380,936    320,000      13     222,800      222,000

In [139]:
table[2]

,Unnamed: 0,Sales,Av. Price,Med. Price,Sales.1,Av. Price.1,Med. Price.1,Sales.2,Av. Price.2,Med. Price.2
0,C-1,4,"216,750","202,500",79,"208,649","169,000",-,-,-
1,C-2,-,-,-,21,"280,067","250,000",-,-,-
2,C-3,-,-,-,6,"321,833","305,000",-,-,-
3,C-4,1,"385,000","385,000",15,"246,780","189,000",-,-,-
4,C-6,1,"177,500","177,500",3,"143,000","148,000",-,-,-
5,C-7,4,"207,750","208,250",16,"192,719","186,750",-,-,-
6,C-8,3,"209,333","154,000",43,"160,958","156,000",-,-,-
7,C-9,1,"719,000","719,000",5,"296,760","240,000",-,-,-
8,C-10,4,"203,625","203,500",10,"273,570","270,450",-,-,-
9,C-11,1,"117,000","117,000",8,"122,063","106,500",-,-,-
10,C-12,3,"278,633","290,000",4,"986,875","661,750",-,-,-
11,C-13,5,"190,300","177,000",18,"171,656","145,000",-,-,-
12,C-14,4,"247,100","253,450",25,"204,367","192,500",-,-,-
13,C-15,27,"180,566","165,000",26,"166,352","143,025",1,"243,100","243,100"

In [144]:
table[3]

,Unnamed: 0,Sales,Av. Price,Med. Price,Sales.1,Av. Price.1,Med. Price.1,Sales.2,Av. Price.2,Med. Price.2
0,C-1,12,"243,158","223,250",-,-,-,-,-,-
1,C-2,2,"417,500","417,500",-,-,-,-,-,-
2,C-3,1,"505,000","505,000",4,"126,750","129,750",-,-,-
3,C-4,-,-,-,-,-,-,-,-,-
4,C-6,-,-,-,-,-,-,-,-,-
5,C-7,-,-,-,-,-,-,-,-,-
6,C-8,5,"300,600","309,000",-,-,-,-,-,-
7,C-9,-,-,-,4,"300,681","289,862",-,-,-
8,C-10,1,"369,000","369,000",-,-,-,-,-,-
9,C-11,-,-,-,-,-,-,-,-,-
10,C-12,-,-,-,-,-,-,-,-,-
11,C-13,-,-,-,-,-,-,-,-,-
12,C-14,1,"381,500","381,500",-,-,-,-,-,-
13,C-15,-,-,-,-,-,-,-,-,-

In [145]:
table[4]

,Unnamed: 0,Sales Av. Price,Unnamed: 1,Med. Price Sales,Unnamed: 2,Unnamed: 3,Av. Price,Med. Price
0,W-1,"9 331,333",NaN,"300,000",13,NaN,"232,346","229,000"
1,W-2,"19 346,047",NaN,"335,000",19,NaN,"182,711","181,500"
2,W-3,"27 190,511",NaN,"184,500",14,NaN,"183,143","179,200"
3,W-4,"30 203,167",NaN,"188,000",1,NaN,"218,000","218,000"
4,W-5,"13 229,646",NaN,"235,000",17,NaN,"218,294","221,000"
5,W-6,"17 202,706",NaN,"201,000",1,NaN,"229,000","229,000"
6,W-7,"22 279,361",NaN,"268,500",-,NaN,-,-
7,W-8,"53 416,825",NaN,"340,000",-,NaN,-,-
8,W-9,"19 293,658",NaN,"272,000",2,NaN,"242,550","242,550"
9,W-10,"33 214,608",NaN,"206,250",7,NaN,"193,143","193,000"
10,W-12,"35 322,457",NaN,"286,000",9,NaN,"219,500","215,500"
11,W-13,"35 363,449",NaN,"339,900",5,NaN,"176,000","180,000"
12,W-14,"10 280,290",NaN,"264,000",3,NaN,"229,800","229,900"
13,W-15,"13 251,500",NaN,"245,000",13,NaN,"205,962","204,000"
14,W-16,"47 274,670",NaN,"251,000",19,NaN,"195,447","195,000"
15,W-17,- -,NaN,-,-,NaN,-,-
16,W-18,"10 214,070",NaN,"233,350",5,NaN,"190,900","193,600"
17,W-19,"77 275,982",NaN,"267,000",8,NaN,"211,375","209,750"
18,W-20,"68 274,860",NaN,"250,000",24,NaN,"199,529","196,000"
19,W-21,"25 504,764",NaN,"294,000",1,NaN,"176,500","176,500"
20,W-22,"1 310,000",NaN,"310,000",1,NaN,"175,000","175,000"
21,W-23,"123 230,943",NaN,"218,000",39,NaN,"177,415","176,500"
22,W-24,"77 228,938",NaN,"229,500",23,NaN,"186,050","187,000"
23,W-25,"1 225,000",NaN,"225,000",-,NaN,-,-
24,W-26,- -,NaN,-,-,NaN,-,-
25,W-27,"47 243,104",NaN,"220,000",2,NaN,"137,450","137,450"
26,W-28,"35 288,944",NaN,"266,000",-,NaN,-,-
27,W-29,"18 171,692",NaN,"169,250",7,NaN,"136,071","137,000"
28,NaN,Townhouse Condominiums,NaN,Condominium Apartments,NaN,NaN,Link Houses,NaN
29,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price,Med. Price
30,W-1,- -,-,"10 181,650 154,000",NaN,-,-,-
31,W-2,- -,-,"3 243,333 239,000",NaN,-,-,-
32,W-3,- -,-,"5 157,500 168,500",NaN,-,-,-
33,W-4,- -,-,"14 104,707 111,250",NaN,-,-,-
34,W-5,"16 140,025 146,750",NaN,"34 102,159 105,000",NaN,-,-,-
35,W-6,- -,-,"23 229,391 215,000",NaN,-,-,-
36,W-7,"1 155,000 155,000",NaN,"1 168,000 168,000",NaN,-,-,-
37,W-8,"4 179,200 179,400",NaN,"20 152,735 136,000",NaN,-,-,-
38,W-9,"4 217,375 211,250",NaN,"26 126,127 93,000",NaN,-,-,-
39,W-10,"5 148,700 155,000",NaN,"50 113,004 112,000",NaN,3,"202,333","200,000"
40,W-12,"6 170,883 164,750",NaN,"22 132,941 119,500",NaN,-,-,-
41,W-13,"24 174,956 155,625",NaN,"9 106,411 93,000",NaN,-,-,-
42,W-14,"16 149,563 167,000",NaN,"10 146,500 134,000",NaN,2,"232,500","232,500"
43,W-15,"14 155,550 158,700",NaN,"84 128,973 129,000",NaN,-,-,-
44,W-16,"20 173,115 172,500",NaN,"7 146,000 142,000",NaN,1,"233,000","233,000"
45,W-17,- -,-,- - -,NaN,-,-,-
46,W-18,"6 126,550 132,150",NaN,- - -,NaN,-,-,-
47,W-19,"29 183,993 182,000",NaN,"27 159,644 133,900",NaN,-,-,-
48,W-20,"42 176,054 166,250",NaN,"5 107,900 116,000",NaN,1,"185,000","185,000"
49,W-21,"2 151,750 151,750",NaN,"3 117,833 118,000",NaN,1,"192,500","192,500"
50,W-22,"1 130,000 130,000",NaN,- - -,NaN,1,"198,000","198,000"
51,W-23,"25 156,912 156,500",NaN,"9 139,889 146,000",NaN,2,"198,500","198,500"
52,W-24,"24 141,808 136,500",NaN,"28 156,800 121,000",NaN,1,"210,000","210,000"
53,W-25,"3 127,667 121,000",NaN,- - -,NaN,1,"165,000","165,000"
54,W-26,- -,-,- - -,NaN,-,-,-
55,W-27,"9 125,617 127,000",NaN,"2 136,500 136,500",NaN,1,"162,900","162,900"
56,W-28,"2 177,500 177,500",NaN,- - -,NaN,-,-,-
57,W-29,"4 116,625 115,750",NaN,"1 97,500 97,500",NaN,2,"152,500","152,500"
58,NaN,Attached/Row,NaN,Co-op Apartments,NaN,Detached Condominiums,NaN,NaN
59,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price,Med. Price
60,W-1,- -,-,- - -,NaN,-,-,-
61,W-2,"2 165,650 165,650",NaN,- - -,NaN,-,-,-
62,W-3,- -,-,- - -,NaN,-,-,-
63,W-4,"2 229,000 229,000",NaN,- - -,NaN,-,-,-
64,W-5,- -,-,"1 72,500 72,500",NaN,-,-,-
65,W-6,"5 269,880 281,000",NaN,"1 90,000 90,000",NaN,-,-,-
66,W-7,- -,-,- - -,NaN,-,-,-
67,W-8,"1 233,000 233,000",NaN,- - -,NaN,-,-,-
68,W-9,- -,-,- - -,NaN,-,-,-
69,W-10,- -,-,"1 64,500 64,500",NaN,-,-,-
70,W-12,"1 165,000 165,000",NaN,- - -,NaN,-,-,-
71,W-13,"2 161,500 161,500",NaN,- - -,NaN,-,-,-
72,W-14,- -,-,"1 89,000 89,000",NaN,-,-,-
73,W-15,- -,-,- - -,NaN,-,-,-
74,W-16,- -,-,- - -,NaN,-,-,-
75,W-17,- -,-,- - -,NaN,-,-,-
76,W-18,- -,-,- - -,NaN,-,-,-
77,W-19,"8 211,375 215,000",NaN,- - -,NaN,-,-,-
78,W-20,"1 190,000 190,000",NaN,- - -,NaN,3,"158,167","159,000"
79,W-21,"10 215,160 198,750",NaN,- - -,NaN,-,-,-
80,W-22,- -,-,- - -,NaN,-,-,-
81,W-23,"28 168,471 165,000",NaN,- - -,NaN,-,-,-
82,W-24,"16 164,400 171,500",NaN,- - -,NaN,-,-,-
83,W-25,"3 156,497 157,000",NaN,- - -,NaN,-,-,-
84,W-26,- -,-,- - -,NaN,-,-,-
85,W-27,"1 185,000 185,000",NaN,- - -,NaN,-,-,-
86,W-28,"3 174,667 171,000",NaN,- - -,NaN,-,-,-
87,W-29,"1 127,500 127,500",NaN,- - -,NaN,-,-,-

In [36]:
import glob
file_path = r'C:\Users\johnn\OneDrive\Desktop\UofT SCS Data Analytics Boot Camp\Module 20 - Final Project\Data-Analytics-Boot-Camp---Final-Project\tables'
all_pdf_files = glob.glob(file_path + "/*.pdf")
all_pdf_files

['C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9602.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9603.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9604.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9605.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9606.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9607.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9608.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9609.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9610.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9611.pdf',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables\\mw9612.pdf']

In [13]:
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [39]:
table_1 = []
for pdf_file in all_pdf_files:
    table_collection = tabula.read_pdf(pdf_file, pages = '7')
    table_1.append(table_collection)

In [86]:
len(table_1)

11

In [87]:
for i in range(0, len(table_1)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [85]:
table_1[0][0]

,Unnamed: 0,Sales Av. Price,Unnamed: 1,Med. Price Sales,Unnamed: 2,Unnamed: 3,Av. Price Med. Price
0,E-1,"15 190,000",NaN,"173,000 32",NaN,NaN,"179,098 165,950"
1,E-2,"23 290,526",NaN,"266,500 21",NaN,NaN,"182,610 150,300"
2,E-3,"43 193,723",NaN,"182,000 29",NaN,NaN,"165,490 155,000"
3,E-4,"26 167,113",NaN,"167,950 3",NaN,NaN,"144,500 144,000"
4,E-5,"20 222,203",NaN,"220,000 2",NaN,NaN,"172,500 172,500"
5,E-6,"25 182,814",NaN,"167,100 5",NaN,NaN,"152,180 149,000"
6,E-7,"26 222,835",NaN,"215,900 11",NaN,NaN,"169,345 173,500"
7,E-8,"37 188,490",NaN,"174,000 3",NaN,NaN,"141,333 142,000"
8,E-9,"30 182,477",NaN,"177,150 3",NaN,NaN,"149,667 148,000"
9,E-10,"36 203,801",NaN,"196,000 1",NaN,NaN,"146,000 146,000"
10,E-11,"18 170,544",NaN,"165,750 11",NaN,NaN,"149,955 149,000"
11,E-12,"15 191,467",NaN,"163,000 1",NaN,NaN,"138,500 138,500"
12,E-13,"52 198,931",NaN,"195,000 4",NaN,NaN,"149,250 150,500"
13,E-14,"82 167,674",NaN,"158,700 2",NaN,NaN,"148,500 148,500"
14,E-15,"55 176,964",NaN,"175,000 6",NaN,NaN,"131,333 129,000"
15,E-16,"98 129,003",NaN,"126,950 42",NaN,NaN,"111,319 112,750"
16,E-17,"24 157,396",NaN,"155,500 5",NaN,NaN,"97,480 102,000"
17,E-18,"2 613,450",NaN,"613,450 -",NaN,NaN,- -
18,E-19,"4 179,125",NaN,"161,250 -",NaN,NaN,- -
19,E-20,"12 159,323",NaN,"146,250 -",NaN,NaN,- -
20,E-21,"16 155,500",NaN,"152,250 1",NaN,NaN,"134,000 134,000"
21,NaN,Townhouse Condominiums,NaN,Condominium Apartments,NaN,NaN,Link Houses
22,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price Med. Price
23,E-1,"1 129,000 129,000",NaN,- - -,NaN,-,- -
24,E-2,- -,-,"1 48,000 48,000",NaN,1,"390,150 390,150"
25,E-3,"2 195,000 195,000",NaN,"39 90,713 85,000",NaN,-,- -
26,E-4,"1 145,000 145,000",NaN,"18 95,708 86,000",NaN,-,- -
27,E-5,"9 146,500 148,000",NaN,"29 120,641 115,000",NaN,2,"227,000 227,000"
28,E-6,- -,-,"4 153,750 156,500",NaN,-,- -
29,E-7,"7 149,929 145,500",NaN,"27 112,494 109,950",NaN,6,"177,833 174,750"
30,E-8,"2 112,250 112,250",NaN,"30 96,130 89,500",NaN,-,- -
31,E-9,"12 103,458 117,000",NaN,"7 113,143 119,500",NaN,-,- -
32,E-10,- -,-,"3 91,917 95,000",NaN,1,"170,000 170,000"
33,E-11,"8 123,688 122,000",NaN,"17 100,929 96,000",NaN,3,"165,333 169,000"
34,E-12,"7 113,500 110,000",NaN,"1 86,000 86,000",NaN,1,"173,000 173,000"
35,E-13,"7 107,464 109,000",NaN,"4 155,500 154,000",NaN,4,"157,125 155,750"
36,E-14,"8 107,025 107,850",NaN,"10 93,050 93,000",NaN,7,"149,471 149,000"
37,E-15,"8 111,713 116,500",NaN,"3 130,333 135,000",NaN,13,"140,435 137,000"
38,E-16,"9 79,722 85,000",NaN,"7 92,643 62,000",NaN,14,"131,429 133,250"
39,E-17,- -,-,- - -,NaN,18,"131,319 127,500"
40,E-18,- -,-,- - -,NaN,-,- -
41,E-19,- -,-,- - -,NaN,-,- -
42,E-20,- -,-,- - -,NaN,2,"147,000 147,000"
43,E-21,- -,-,- - -,NaN,-,- -
44,NaN,Attached/Row,NaN,Co-op Apartments,NaN,Detached Condominiums,NaN
45,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price Med. Price
46,E-1,"9 145,878 169,900",NaN,- - -,NaN,-,- -
47,E-2,"1 149,000 149,000",NaN,- - -,NaN,-,- -
48,E-3,- -,-,- - -,NaN,-,- -
49,E-4,- -,-,- - -,NaN,-,- -
50,E-5,- -,-,- - -,NaN,-,- -
51,E-6,- -,-,- - -,NaN,-,- -
52,E-7,"4 167,000 165,500",NaN,- - -,NaN,-,- -
53,E-8,- -,-,- - -,NaN,-,- -
54,E-9,- -,-,- - -,NaN,-,- -
55,E-10,- -,-,- - -,NaN,-,- -
56,E-11,"2 136,000 136,000",NaN,- - -,NaN,-,- -
57,E-12,"2 128,450 128,450",NaN,- - -,NaN,-,- -
58,E-13,"2 156,500 156,500",NaN,- - -,NaN,-,- -
59,E-14,"7 141,614 139,000",NaN,- - -,NaN,1,"119,000 119,000"
60,E-15,"4 134,750 132,750",NaN,- - -,NaN,-,- -
61,E-16,"3 104,500 105,000",NaN,- - -,NaN,-,- -
62,E-17,"4 113,875 116,500",NaN,- - -,NaN,-,- -
63,E-18,- -,-,- - -,NaN,-,- -
64,E-19,- -,-,- - -,NaN,-,- -
65,E-20,- -,-,- - -,NaN,1,"35,000 35,000"
66,E-21,- -,-,- - -,NaN,-,- -

In [141]:
sales_C = table[2]["Sales.1"]
Avg_C = table[2]["Av. Price.1"]
Med_C = table[2]["Med. Price.1"]

In [142]:
sales_C

0     79
1     21
2      6
3     15
4      3
5     16
6     43
7      5
8     10
9      8
10     4
11    18
12    25
13    26
Name: Sales.1, dtype: int64

In [143]:
Avg_C

0     208,649
1     280,067
2     321,833
3     246,780
4     143,000
5     192,719
6     160,958
7     296,760
8     273,570
9     122,063
10    986,875
11    171,656
12    204,367
13    166,352
Name: Av. Price.1, dtype: object

In [57]:
condo_sec = table_1[1][0]["Med. Price Sales"][21:44].reset_index(drop = True)
condo_sec

0         Condominium Apartments
1     Sales Av. Price Med. Price
2                          - - -
3                          - - -
4               28 90,189 82,500
5               23 89,026 85,000
6             40 138,315 129,000
7              3 150,500 156,500
8             33 113,700 108,000
9               12 89,358 83,000
10             12 102,333 86,500
11               4 77,500 66,500
12              19 95,005 94,500
13             1 110,000 110,000
14             6 148,067 144,950
15              10 93,350 92,500
16             3 107,333 116,000
17               6 80,317 78,000
18                         - - -
19                         - - -
20                         - - -
21                         - - -
22                         - - -
Name: Med. Price Sales, dtype: object

In [58]:
table_1[2][0]

,Unnamed: 0,Sales Av. Price,Unnamed: 1,Med. Price Sales,Unnamed: 2,Unnamed: 3,Av. Price Med. Price
0,E-1,"21 198,938",NaN,"178,000 34",NaN,NaN,"171,328 159,000"
1,E-2,"19 253,889",NaN,"230,000 31",NaN,NaN,"188,021 178,500"
2,E-3,"68 188,546",NaN,"177,000 30",NaN,NaN,"173,175 170,750"
3,E-4,"26 172,535",NaN,"171,000 4",NaN,NaN,"145,250 147,250"
4,E-5,"42 241,726",NaN,"234,500 10",NaN,NaN,"171,900 172,000"
5,E-6,"37 196,600",NaN,"165,000 1",NaN,NaN,"168,000 168,000"
6,E-7,"48 249,302",NaN,"227,960 9",NaN,NaN,"171,122 168,000"
7,E-8,"50 195,348",NaN,"176,250 2",NaN,NaN,"134,000 134,000"
8,E-9,"42 174,707",NaN,"172,500 1",NaN,NaN,"156,000 156,000"
9,E-10,"41 220,969",NaN,"208,000 3",NaN,NaN,"169,333 170,000"
10,E-11,"31 190,858",NaN,"174,000 15",NaN,NaN,"151,167 145,000"
11,E-12,"20 173,590",NaN,"158,250 3",NaN,NaN,"139,467 139,900"
12,E-13,"84 210,121",NaN,"199,000 6",NaN,NaN,"146,733 147,950"
13,E-14,"102 169,325",NaN,"165,750 6",NaN,NaN,"137,417 137,750"
14,E-15,"74 183,499",NaN,"176,500 6",NaN,NaN,"130,417 128,000"
15,E-16,"131 136,419",NaN,"135,000 22",NaN,NaN,"112,570 114,000"
16,E-17,"42 153,710",NaN,"153,250 3",NaN,NaN,"97,333 107,000"
17,E-18,"5 291,000",NaN,"259,000 -",NaN,NaN,- -
18,E-19,"6 168,983",NaN,"163,500 -",NaN,NaN,- -
19,E-20,"18 149,728",NaN,"153,250 -",NaN,NaN,- -
20,E-21,"37 149,808",NaN,"152,000 -",NaN,NaN,- -
21,NaN,Townhouse Condominiums,NaN,Condominium Apartments,NaN,NaN,Link Houses
22,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price Med. Price
23,E-1,"2 139,500 139,500",NaN,- - -,NaN,-,- -
24,E-2,"4 186,000 189,000",NaN,"1 126,000 126,000",NaN,-,- -
25,E-3,"1 200,000 200,000",NaN,"40 92,045 77,000",NaN,-,- -
26,E-4,"2 128,500 128,500",NaN,"15 85,060 85,000",NaN,-,- -
27,E-5,"16 140,706 138,000",NaN,"33 151,070 143,000",NaN,6,"199,650 199,500"
28,E-6,"1 196,000 196,000",NaN,"1 158,000 158,000",NaN,-,- -
29,E-7,"10 144,710 144,000",NaN,"26 122,046 117,500",NaN,6,"191,467 195,000"
30,E-8,"2 134,444 134,444",NaN,"29 107,328 102,800",NaN,-,- -
31,E-9,"2 121,750 121,750",NaN,"9 119,355 118,000",NaN,-,- -
32,E-10,"3 120,667 117,000",NaN,"4 103,250 106,500",NaN,1,"171,500 171,500"
33,E-11,"8 124,963 121,000",NaN,"19 96,268 95,000",NaN,5,"167,760 167,500"
34,E-12,"4 118,850 118,500",NaN,"3 90,500 90,000",NaN,2,"174,450 174,450"
35,E-13,"7 121,257 115,000",NaN,"9 142,256 142,000",NaN,4,"145,750 147,500"
36,E-14,"2 109,750 109,750",NaN,"13 102,477 95,000",NaN,5,"147,700 147,500"
37,E-15,"5 118,200 118,000",NaN,"3 129,333 122,000",NaN,16,"148,369 145,950"
38,E-16,"13 74,808 81,000",NaN,"3 83,000 86,000",NaN,12,"124,483 125,000"
39,E-17,"1 76,000 76,000",NaN,- - -,NaN,22,"128,350 126,500"
40,E-18,- -,-,- - -,NaN,-,- -
41,E-19,- -,-,- - -,NaN,-,- -
42,E-20,- -,-,- - -,NaN,3,"123,500 123,500"
43,E-21,- -,-,- - -,NaN,-,- -
44,NaN,Attached/Row,NaN,Co-op Apartments,NaN,Detached Condominiums,NaN
45,NaN,Sales Av. Price Med. Price,NaN,Sales Av. Price Med. Price,NaN,Sales,Av. Price Med. Price
46,E-1,"6 137,750 124,000",NaN,- - -,NaN,-,- -
47,E-2,"2 163,500 163,500",NaN,- - -,NaN,-,- -
48,E-3,"1 106,000 106,000",NaN,- - -,NaN,-,- -
49,E-4,- -,-,- - -,NaN,-,- -
50,E-5,"2 168,250 168,250",NaN,- - -,NaN,-,- -
51,E-6,- -,-,- - -,NaN,-,- -
52,E-7,"2 161,000 161,000",NaN,- - -,NaN,1,"187,000 187,000"
53,E-8,- -,-,- - -,NaN,-,- -
54,E-9,- -,-,- - -,NaN,-,- -
55,E-10,- -,-,- - -,NaN,-,- -
56,E-11,"13 137,646 140,000",NaN,- - -,NaN,4,"134,375 132,500"
57,E-12,"1 118,500 118,500",NaN,- - -,NaN,-,- -
58,E-13,"9 137,111 146,000",NaN,- - -,NaN,-,- -
59,E-14,"3 142,833 139,500",NaN,- - -,NaN,-,- -
60,E-15,"4 141,625 141,750",NaN,- - -,NaN,-,- -
61,E-16,"3 115,967 121,000",NaN,- - -,NaN,-,- -
62,E-17,"13 110,554 114,000",NaN,- - -,NaN,-,- -
63,E-18,- -,-,- - -,NaN,-,- -
64,E-19,- -,-,- - -,NaN,-,- -
65,E-20,- -,-,- - -,NaN,-,- -
66,E-21,- -,-,- - -,NaN,-,- -

In [61]:
condo_sec = table_1[2][0]["Med. Price Sales"][21:44].reset_index(drop = True)
condo_sec

0         Condominium Apartments
1     Sales Av. Price Med. Price
2                          - - -
3              1 126,000 126,000
4               40 92,045 77,000
5               15 85,060 85,000
6             33 151,070 143,000
7              1 158,000 158,000
8             26 122,046 117,500
9             29 107,328 102,800
10             9 119,355 118,000
11             4 103,250 106,500
12              19 96,268 95,000
13               3 90,500 90,000
14             9 142,256 142,000
15             13 102,477 95,000
16             3 129,333 122,000
17               3 83,000 86,000
18                         - - -
19                         - - -
20                         - - -
21                         - - -
22                         - - -
Name: Med. Price Sales, dtype: object

In [63]:
condo_sec_area = table_1[2][0]["Unnamed: 0"][21:44].reset_index(drop = True)
condo_sec_area

0      NaN
1      NaN
2      E-1
3      E-2
4      E-3
5      E-4
6      E-5
7      E-6
8      E-7
9      E-8
10     E-9
11    E-10
12    E-11
13    E-12
14    E-13
15    E-14
16    E-15
17    E-16
18    E-17
19    E-18
20    E-19
21    E-20
22    E-21
Name: Unnamed: 0, dtype: object

In [64]:
titles = ["Area", "Sales", "Avg. Price", "Med. Price"]

In [72]:
area = condo_sec_area[2:13].reset_index(drop = True)

In [69]:
condo_info = condo_sec[2:13].reset_index(drop = True)

In [70]:
condo_info

0                  - - -
1      1 126,000 126,000
2       40 92,045 77,000
3       15 85,060 85,000
4     33 151,070 143,000
5      1 158,000 158,000
6     26 122,046 117,500
7     29 107,328 102,800
8      9 119,355 118,000
9      4 103,250 106,500
10      19 96,268 95,000
Name: Med. Price Sales, dtype: object

In [73]:
condo_info[2].split(" ")

['40', '92,045', '77,000']

In [74]:
import re

In [78]:
sales = []
Avg = []
Med = []
for item in condo_info:
    item = item.split(" ")
    sales.append(item[0])
    Avg.append(item[1])
    Med.append(item[2])

In [79]:
sales

['-', '1', '40', '15', '33', '1', '26', '29', '9', '4', '19']

In [80]:
Avg

['-',
 '126,000',
 '92,045',
 '85,060',
 '151,070',
 '158,000',
 '122,046',
 '107,328',
 '119,355',
 '103,250',
 '96,268']

In [81]:
Med

['-',
 '126,000',
 '77,000',
 '85,000',
 '143,000',
 '158,000',
 '117,500',
 '102,800',
 '118,000',
 '106,500',
 '95,000']

In [234]:
# Process Feb ~ Dec - Type I
import glob
file_path = r'C:\Users\johnn\OneDrive\Desktop\UofT SCS Data Analytics Boot Camp\Module 20 - Final Project\Data-Analytics-Boot-Camp---Final-Project\tables'
all_pdf_files = glob.glob(file_path + "/*.pdf")

# Before Year 2000

In [243]:
table_E = []
table_C = []
table_W = []
pdf_file_index = 2
pdf_file_index_wrong_E = []
pdf_file_index_wrong_C = []
pdf_file_index_wrong_W = []
for pdf_file in all_pdf_files:
    tables_raw = tabula.read_pdf(pdf_file, pages = [7, 8, 10])
    try:
        table_E.append(tables_raw[0])
    except IndexError:
        print(f'{pdf_file_index} from table_E')
        pdf_file_index_wrong_E.append(pdf_file_index)
    try:
        table_C.append(tables_raw[2])
    except IndexError:
        print(f'{pdf_file_index} from table_C')
        pdf_file_index_wrong_C.append(pdf_file_index)
    try:   
        table_W.append(tables_raw[4])
    except IndexError:
        print(f'{pdf_file_index} from table_W')
        pdf_file_index_wrong_W.append(pdf_file_index)
    pdf_file_index = pdf_file_index + 1

10 from table_W

In [247]:
info_raw_E = []
info_raw_W = []
area_E = []
area_C = []
area_W = []
index_problem_month_E = []
index_problem_month_W = []
for i in range(1, 12):
    area_E.append(f'E{i}')

for k in range(1, 11):
    area_W.append(f'W{k}')

for table_index in range(0, len(table_E)):
    try:
        info_raw_E.append(table_E[table_index]["Med. Price Sales"][23:34].reset_index(drop = True))
    except KeyError:
        print(table_index)
        index_problem_month_E.append(table_index + 2)
        print(index_problem_month_E)

4
[6]
5
[6, 7]
9
[6, 7, 11]

In [248]:
for table_index in range(0, len(table_W)):
    try:
        info_raw_W.append(table_W[table_index]["Med. Price Sales"][30:40].reset_index(drop = True))
    except KeyError:
        print(table_index)
        index_problem_month_W.append(table_index + 2)
        print(index_problem_month_W)

1
[3]
2
[3, 4]
4
[3, 4, 6]
5
[3, 4, 6, 7]
6
[3, 4, 6, 7, 8]
7
[3, 4, 6, 7, 8, 9]
9
[3, 4, 6, 7, 8, 9, 11]

In [249]:
year = 2001

In [250]:
sales_C = []
Avg_C = []
Med_C = []
month_C = 2

for table_index in range(0, len(table_C)):
    area_C = table_C[table_index]["Unnamed: 0"]
    sales_C = table_C[table_index]["Sales.1"]
    Avg_C = table_C[table_index]["Av. Price.1"]
    Med_C = table_C[table_index]["Med. Price.1"]
    df_temp = pd.DataFrame({"Area": area_C, "Sales": sales_C, "Avg_Price": Avg_C, "Med_Price": Med_C})
    df_temp.to_csv(f'{year}_{month_C}_C.csv', index = False)
    month_C = month_C + 1

KeyError: 'Sales.1'

In [251]:
sales_W = []
Avg_W = []
Med_W = []
sales_E = []
Avg_E = []
Med_E = []
month_E = 2
month_W = 2

for info in info_raw_E:
    for item in info:
        item = item.split(" ")
        sales_E.append(item[0])
        Avg_E.append(item[1])
        Med_E.append(item[2])
    df_temp = pd.DataFrame({"Area": area_E, "Sales": sales_E, "Avg_Price": Avg_E, "Med_Price": Med_E})
    sales_E = []
    Avg_E = []
    Med_E = []
    if month_E in index_problem_month_E or month_E in pdf_file_index_wrong_E:
        month_E = month_E + 1
        df_temp.to_csv(f'{year}_{month_E}_E.csv', index = False)
        month_E = month_E + 1
    else:
        df_temp.to_csv(f'{year}_{month_E}_E.csv', index = False)
        month_E = month_E + 1

for info in info_raw_W:
    for item in info:
        item = item.split(" ")
        sales_W.append(item[0])
        Avg_W.append(item[1])
        Med_W.append(item[2])
    df_temp = pd.DataFrame({"Area": area_W, "Sales": sales_W, "Avg_Price": Avg_W, "Med_Price": Med_W})
    sales_W = []
    Avg_W = []
    Med_W = []
    if month_W in index_problem_month_W or month_W in pdf_file_index_wrong_W:
        month_W = month_W + 1
        df_temp.to_csv(f'{year}_{month_W}_W.csv', index = False)
        month_W = month_W + 1
    else:
        df_temp.to_csv(f'{year}_{month_W}_W.csv', index = False)
        month_W = month_W + 1

# Type I

In [14]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [59]:
# Process Feb ~ Dec - Type I
import glob
import tabula
import pandas as pd
file_path = r'C:\Users\johnn\OneDrive\Desktop\UofT SCS Data Analytics Boot Camp\Module 20 - Final Project\Data-Analytics-Boot-Camp---Final-Project\tables'
all_pdf_files = glob.glob(file_path + "/*.pdf")

In [60]:
table_E = []
table_C = []
table_W = []
pdf_file_index = 2
pdf_file_index_wrong_E = []
pdf_file_index_wrong_C = []
pdf_file_index_wrong_W = []
for pdf_file in all_pdf_files:
    tables_raw = tabula.read_pdf(pdf_file, pages = [7, 8, 10])
    try:
        table_E.append(tables_raw[0])
    except IndexError:
        print(f'{pdf_file_index} from table_E')
        pdf_file_index_wrong_E.append(pdf_file_index)
    try:
        table_C.append(tables_raw[2])
    except IndexError:
        print(f'{pdf_file_index} from table_C')
        pdf_file_index_wrong_C.append(pdf_file_index)
    try:   
        table_W.append(tables_raw[4])
    except IndexError:
        print(f'{pdf_file_index} from table_W')
        pdf_file_index_wrong_W.append(pdf_file_index)
    pdf_file_index = pdf_file_index + 1

3 from table_W
4 from table_W
5 from table_W
6 from table_W

In [61]:
info_raw_E = []
info_raw_W = []
area_E = []
area_C = []
area_W = []
index_problem_month_E = []
index_problem_month_W = []
for i in range(1, 12):
    area_E.append(f'E{i}')

for k in range(1, 11):
    area_W.append(f'W{k}')

for table_index in range(0, len(table_E)):
    try:
        info_raw_E.append(table_E[table_index]["Med. Price Sales"][23:34].reset_index(drop = True))
    except KeyError:
        print(table_index)
        index_problem_month_E.append(table_index + 2)
        print(index_problem_month_E)

0
[2]

In [62]:
for table_index in range(0, len(table_W)):
    try:
        info_raw_W.append(table_W[table_index]["Med. Price Sales"][30:40].reset_index(drop = True))
    except KeyError:
        print(table_index)
        index_problem_month_W.append(table_index + 2)
        print(index_problem_month_W)

0
[2]

In [63]:
year = 2002

In [64]:
sales_C = []
Avg_C = []
Med_C = []
month_C = 2

for table_index in range(0, len(table_C)):
    try:
        area_C = table_C[table_index]["Unnamed: 0"]
        sales_C = table_C[table_index]["Sales.1"]
        Avg_C = table_C[table_index]["Av. Price.1"]
        Med_C = table_C[table_index]["Med. Price.1"]
        df_temp = pd.DataFrame({"Area": area_C, "Sales": sales_C, "Avg_Price": Avg_C, "Med_Price": Med_C})
        df_temp.to_csv(f'{year}_{month_C}_C.csv', index = False)
        month_C = month_C + 1
    except KeyError:
        print(f'{table_index+2} from table_C')
        month_C = month_C + 1

3 from table_C
4 from table_C
5 from table_C
6 from table_C

In [65]:
sales_W = []
Avg_W = []
Med_W = []
sales_E = []
Avg_E = []
Med_E = []
month_E = 2
month_W = 2

for info in info_raw_E:
    for item in info:
        item = item.split(" ")
        sales_E.append(item[0])
        Avg_E.append(item[1])
        Med_E.append(item[2])
    df_temp = pd.DataFrame({"Area": area_E, "Sales": sales_E, "Avg_Price": Avg_E, "Med_Price": Med_E})
    sales_E = []
    Avg_E = []
    Med_E = []
    if month_E in index_problem_month_E or month_E in pdf_file_index_wrong_E:
        while month_E in index_problem_month_E or month_E in pdf_file_index_wrong_E:
            month_E = month_E + 1
        df_temp.to_csv(f'{year}_{month_E}_E.csv', index = False)
        month_E = month_E + 1
    else:
        df_temp.to_csv(f'{year}_{month_E}_E.csv', index = False)
        month_E = month_E + 1

for info in info_raw_W:
    for item in info:
        item = item.split(" ")
        sales_W.append(item[0])
        Avg_W.append(item[1])
        Med_W.append(item[2])
    df_temp = pd.DataFrame({"Area": area_W, "Sales": sales_W, "Avg_Price": Avg_W, "Med_Price": Med_W})
    sales_W = []
    Avg_W = []
    Med_W = []
    if month_W in index_problem_month_W or month_W in pdf_file_index_wrong_W:
        while month_W in index_problem_month_W or month_W in pdf_file_index_wrong_W:
            month_W = month_W + 1
        df_temp.to_csv(f'{year}_{month_W}_W.csv', index = False)
        month_W = month_W + 1
    else:
        df_temp.to_csv(f'{year}_{month_W}_W.csv', index = False)
        month_W = month_W + 1

# Type II - I give up

In [85]:
file = "test_1.pdf"
table = tabula.read_pdf(file, pages = '8',encoding = 'ISO-8859-1', area = "104.4, 328.32, 447.84,151.2", guess = False)

In [86]:
len(table)

1

In [87]:
table[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,5
0,NaN,NaN,SINGLE-FAMILY EAST BREAKDOWN - JULY 2002,NaN,NaN,NaN
1,NaN,Detached Houses,Semi-Detached Houses Condo Apt.,NaN,Link,NaN
2,Area,Sales Av. PriceMed. Price,Sales Av. PriceMed. PriceSales Av. PriceMed. P...,Sales,Av. Price,Med. Price
3,E01,"14 $288,129 $248,750","37 $245,018 $222,000 2 $123,750 $123,750",-,-,-
4,E02,"22 $369,568 $341,650","25 $300,296 $259,900 4 $328,150 $339,250",-,-,-
5,E03,"53 $250,395 $245,000","22 $236,769 $237,500 20 $154,395 $145,000",-,-,-
6,E04,"28 $253,159 $244,125","10 $207,650 $206,750 24 $143,325 $148,250",-,-,-
7,E05,"33 $330,056 $327,000","4 $245,250 $244,500 28 $179,493 $165,750",4,"$261,950","$264,000"
8,E06,"27 $292,908 $250,000","11 $228,091 $235,000 2 $172,000 $172,000",-,-,-
9,E07,"49 $305,422 $294,000","9 $244,333 $246,000 28 $173,368 $168,500",8,"$255,863","$248,500"
10,E08,"33 $280,685 $248,000","4 $210,375 $210,250 13 $151,731 $161,000",1,"$278,000","$278,000"
11,E09,"23 $268,604 $252,500","5 $224,700 $230,000 24 $179,070 $189,750",-,-,-
12,E10,"28 $295,086 $281,500","1 $245,500 $245,500 - - -",-,-,-
13,E11,"20 $251,820 $246,500","11 $224,436 $224,000 14 $136,900 $135,000",2,"$211,750","$211,750"
14,E12,"7 $232,500 $223,000","4 $195,500 $200,000 1 $151,000 $151,000",-,-,-
15,E13,"38 $262,162 $265,500","1 $217,000 $217,000 6 $180,733 $160,950",5,"$218,200","$216,000"
16,E14,"72 $237,469 $232,500","- - - 6 $145,317 $151,000",-,-,-
17,E15,"71 $250,570 $239,000","2 $170,500 $170,500 3 $184,833 $208,000",8,"$203,925","$207,450"
18,E16,"103 $191,192 $185,000","41 $138,083 $136,900 5 $141,620 $89,000",7,"$164,771","$170,000"
19,E17,"37 $216,279 $205,000","2 $151,500 $151,500 2 $147,500 $147,500",28,"$172,200","$171,750"
20,E18,"4 $286,125 $196,000",- - - - - -,-,-,-
21,E19,"9 $283,099 $270,000",- - - - - -,2,"$206,000","$206,000"
22,E20,"11 $216,468 $228,000",- - - - - -,2,"$177,200","$177,200"
23,E21,"28 $199,471 $190,000",- - - - - -,-,-,-
24,NaN,Condo Townhouse,Det Condo Co-op Apt,Att/Row/Twnhouse,NaN,NaN
25,Area,Sales Av. PriceMed. Price,Sales Av. PriceMed. PriceSales Av. PriceMed. P...,Sales,Av. Price,Med. Price
26,E01,- - -,- - - - - -,7,"$240,729","$235,000"
27,E02,"1 $225,300 $225,300",- - - - - -,2,"$216,318","$216,318"
28,E03,- - -,"- - - 1 $139,000 $139,000",5,"$328,780","$318,900"
29,E04,"7 $199,129 $196,000",- - - - - -,1,"$275,000","$275,000"
30,E05,"21 $203,638 $198,000",- - - - - -,3,"$248,600","$282,000"
31,E06,- - -,- - - - - -,-,-,-
32,E07,"5 $219,100 $211,000",- - - - - -,1,"$213,000","$213,000"
33,E08,"6 $176,833 $180,000",- - - - - -,-,-,-
34,E09,"10 $155,400 $162,500",- - - - - -,-,-,-
35,E10,"5 $163,100 $164,000",- - - - - -,2,"$227,500","$227,500"
36,E11,"11 $182,541 $179,000","2 $190,000 $190,000 - - -",9,"$186,600","$186,500"
37,E12,"1 $137,000 $137,000",- - - - - -,-,-,-
38,E13,"10 $168,890 $163,500",- - - - - -,6,"$176,633","$195,000"
39,E14,"2 $153,750 $153,750","2 $155,500 $155,500 - - -",8,"$192,063","$187,500"
40,E15,"9 $162,078 $159,900",- - - - - -,11,"$177,255","$179,000"
41,E16,"18 $101,406 $103,250",- - - - - -,9,"$121,300","$132,000"
42,E17,"2 $118,250 $118,250",- - - - - -,9,"$141,211","$145,000"
43,E18,- - -,- - - - - -,-,-,-
44,E19,- - -,- - - - - -,1,"$195,000","$195,000"
45,E20,- - -,- - - - - -,-,-,-
46,E21,- - -,- - - - - -,-,-,-

# TXT Processing - Starting from Year 2000

# FINAL - all types

In [1]:
import re
import pandas as pd
import glob

In [2]:
file_path = r'C:\Users\johnn\OneDrive\Desktop\UofT SCS Data Analytics Boot Camp\Module 20 - Final Project\Data-Analytics-Boot-Camp---Final-Project\tables_txt'
all_txt_files = glob.glob(file_path + "/*.txt")
all_txt_files

['C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0001.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0002.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0004.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0005.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0006.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0008.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0009.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0010.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0011.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0012.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0101.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0102.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0103.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0104.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0105.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0106.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0107.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0108.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0109.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0110.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0111.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0112.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0201.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0202.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0203.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0204.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0205.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0206.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0207.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0208.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0209.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0210.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0211.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0212.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0301.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0302.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0303.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0304.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0305.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0306.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0307.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0308.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0309.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0310.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0311.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0312.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0401.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0402.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0403.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0404.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0405.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0406.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0407.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0408.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0409.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0410.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0411.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0412.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0501.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0502.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0503.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0504.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0505.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0506.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0507.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0508.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0509.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0510.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0511.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0512.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0601.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0602.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0603.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0604.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0605.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0606.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0607.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0608.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0609.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0610.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0611.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0612.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0701.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0702.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0703.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0704.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0705.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0706.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0707.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0708.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0709.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0710.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0711.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0712.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0801.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0802.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0803.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0804.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0805.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0806.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0807.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0808.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0809.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0810.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0811.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0812.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0901.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0902.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0903.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0904.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0905.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0906.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0907.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0908.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0909.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0910.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0911.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw0912.txt',
 'C:\\Users\\johnn\\OneDrive\\Desktop\\UofT SCS Data Analytics Boot Camp\\Module 20 - Final Project\\Data-Analytics-Boot-Camp---Final-Project\\tables_txt\\mw1001.txt',

In [4]:
year = 2000
month = 1

In [5]:
area_C_temp = []
area_E_temp =[]
area_W_temp = []
for i in range(1,16):
    area_C_temp.append(f'C-{i}')
    if i < 10:
        area_C_temp.append(f'C0{i}')
    else:
        area_C_temp.append(f'C{i}')
for j in range(1,12):
    area_E_temp.append(f'E-{j}')
    if j < 10:
        area_E_temp.append(f'E0{j}')
    else:
        area_E_temp.append(f'E{j}')
for k in range(1,11):
    area_W_temp.append(f'W-{k}')
    if k < 10:
        area_W_temp.append(f'W0{k}')
    else:
        area_W_temp.append(f'W{k}')

In [8]:
for txt_file in all_txt_files:
    info_C = []
    info_E = []
    info_W = []
    info_C_clean= []
    info_E_clean= []
    info_W_clean= []
    area_C = []
    date_C = []
    sales_C = []
    avg_C = []
    med_C = []
    area_E = []
    date_E = []
    sales_E = []
    avg_E = []
    med_E = []
    area_W = []
    date_W = []
    sales_W = []
    avg_W = []
    med_W = []
    
    file_type = 0
    
    with open(txt_file, encoding='utf8') as f:
        line = f.readline()
        while line:
            if "Condominium Apartments" in line:
                file_type = 1
                line = f.readline()
                for i in range(0, 16):
                    if line.split(" ")[0] in area_C_temp:
                        info_C.append(line)
                    elif line.split(" ")[0] in area_E_temp:
                        info_E.append(line)
                    elif line.split(" ")[0] in area_W_temp:
                        info_W.append(line)
                    line = f.readline()
            elif "Condo Apt." in line:
                file_type = 2
                line = f.readline()
                for i in range(0, 16):
                    if line.split(" ")[0] in area_C_temp:
                        info_C.append(line)
                    elif line.split(" ")[0] in area_E_temp:
                        info_E.append(line)
                    elif line.split(" ")[0] in area_W_temp:
                        info_W.append(line)
                    line = f.readline()
            elif "Condo Apartment" in line:
                file_type = 3
                line = f.readline()
                for i in range(0, 16):
                    if line.split(" ")[0] in area_C_temp:
                        info_C.append(line)
                    elif line.split(" ")[0] in area_E_temp:
                        info_E.append(line)
                    elif line.split(" ")[0] in area_W_temp:
                        info_W.append(line)
                    line = f.readline()
            elif "CONDOMINIUM APARTMENT" in line or "CONDO APT" in line:
                file_type = 4
                for i in range(0, 140):
                    line = f.readline()
                    try:
                        my_index = line.strip().split(" ")[1]
                        if my_index in area_C_temp:
                            info_C.append(line)
                        elif my_index in area_E_temp:
                            info_E.append(line)
                        elif my_index in area_W_temp:
                            info_W.append(line)
                    except IndexError:
                        continue
            line = f.readline()
    if file_type == 1:        
        for info in info_C:
            for item in info.split(" "):
                if item != "":
                    info_C_clean.append(item)
            area_C.append(info_C_clean[0])
            date_C.append(f'{year}-{month}-01')
            sales_C.append(info_C_clean[4])
            avg_C.append(info_C_clean[5])
            med_C.append(info_C_clean[6])
            info_C_clean = []
        for info in info_E:
            for item in info.split(" "):
                if item != "":
                    info_E_clean.append(item)
            area_E.append(info_E_clean[0])
            date_E.append(f'{year}-{month}-01')
            sales_E.append(info_E_clean[4])
            avg_E.append(info_E_clean[5])
            med_E.append(info_E_clean[6])
            info_E_clean = []
        for info in info_W:
            for item in info.split(" "):
                if item != "":
                    info_W_clean.append(item)
            area_W.append(info_W_clean[0])
            date_W.append(f'{year}-{month}-01')
            sales_W.append(info_W_clean[4])
            avg_W.append(info_W_clean[5])
            med_W.append(info_W_clean[6])
            info_W_clean = []
            
    elif file_type == 2:
        for info in info_C:
            for item in info.split(" "):
                if item != "":
                    info_C_clean.append(item)
            area_C.append(info_C_clean[0])
            date_C.append(f'{year}-{month}-01')
            sales_C.append(info_C_clean[7])
            avg_C.append(info_C_clean[8])
            med_C.append(info_C_clean[9])
            info_C_clean = []
        for info in info_E:
            for item in info.split(" "):
                if item != "":
                    info_E_clean.append(item)
            area_E.append(info_E_clean[0])
            date_E.append(f'{year}-{month}-01')
            sales_E.append(info_E_clean[7])
            avg_E.append(info_E_clean[8])
            med_E.append(info_E_clean[9])
            info_E_clean = []
        for info in info_W:
            for item in info.split(" "):
                if item != "":
                    info_W_clean.append(item)
            area_W.append(info_W_clean[0])
            date_W.append(f'{year}-{month}-01')
            sales_W.append(info_W_clean[7])
            avg_W.append(info_W_clean[8])
            med_W.append(info_W_clean[9])
            info_W_clean = []
    
    elif file_type == 3:
        for info in info_C:
            for item in info.split(" "):
                if item != "":
                    info_C_clean.append(item)
            area_C.append(info_C_clean[0])
            date_C.append(f'{year}-{month}-01')
            sales_C.append(info_C_clean[2])
            avg_C.append(info_C_clean[3])
            med_C.append(info_C_clean[4])
            info_C_clean = []
        for info in info_E:
            for item in info.split(" "):
                if item != "":
                    info_E_clean.append(item)
            area_E.append(info_E_clean[0])
            date_E.append(f'{year}-{month}-01')
            sales_E.append(info_E_clean[2])
            avg_E.append(info_E_clean[3])
            med_E.append(info_E_clean[4])
            info_E_clean = []
        for info in info_W:
            for item in info.split(" "):
                if item != "":
                    info_W_clean.append(item)
            area_W.append(info_W_clean[0])
            date_W.append(f'{year}-{month}-01')
            sales_W.append(info_W_clean[2])
            avg_W.append(info_W_clean[3])
            med_W.append(info_W_clean[4])
            info_W_clean = []
    
    elif file_type == 4:
        for info in info_C:
            for item in info.split(" "):
                if item != "":
                    info_C_clean.append(item)
            area_C.append(info_C_clean[1])
            date_C.append(f'{year}-{month}-01')
            sales_C.append(info_C_clean[2])
            avg_C.append(info_C_clean[4])
            med_C.append(info_C_clean[5])
            info_C_clean = []
        for info in info_E:
            for item in info.split(" "):
                if item != "":
                    info_E_clean.append(item)
            area_E.append(info_E_clean[1])
            date_E.append(f'{year}-{month}-01')
            sales_E.append(info_E_clean[2])
            avg_E.append(info_E_clean[4])
            med_E.append(info_E_clean[5])
            info_E_clean = []
        for info in info_W:
            for item in info.split(" "):
                if item != "":
                    info_W_clean.append(item)
            area_W.append(info_W_clean[1])
            date_W.append(f'{year}-{month}-01')
            sales_W.append(info_W_clean[2])
            avg_W.append(info_W_clean[4])
            med_W.append(info_W_clean[5])
            info_W_clean = []   
            
    df_C = pd.DataFrame({"Date": date_C, "Area": area_C, "Sales": sales_C, "Avg_Price": avg_C, "Med_Price": med_C})
    df_C.to_csv(f'{year}_{month}_C.csv', index = False)
    df_E = pd.DataFrame({"Date": date_E, "Area": area_E, "Sales": sales_E, "Avg_Price": avg_E, "Med_Price": med_E})
    df_E.to_csv(f'{year}_{month}_E.csv', index = False)
    df_W = pd.DataFrame({"Date": date_W, "Area": area_W, "Sales": sales_W, "Avg_Price": avg_W, "Med_Price": med_W})
    df_W.to_csv(f'{year}_{month}_W.csv', index = False)
    
    month = month + 1
    if year == 2000 and (month == 3 or month == 7):
        month = month + 1
    if month > 12:
        year = year + 1
        month = 1

# Single file - test

In [287]:
txt_file = "test_1.txt"

In [288]:
area_C_temp = []
area_E_temp =[]
area_W_temp = []
for i in range(1,16):
    area_C_temp.append(f'C-{i}')
    if i < 10:
        area_C_temp.append(f'C0{i}')
    else:
        area_C_temp.append(f'C{i}')
for j in range(1,12):
    area_E_temp.append(f'E-{j}')
    if j < 10:
        area_E_temp.append(f'E0{j}')
    else:
        area_E_temp.append(f'E{j}')
for k in range(1,11):
    area_W_temp.append(f'W-{k}')
    if k < 10:
        area_W_temp.append(f'W0{k}')
    else:
        area_W_temp.append(f'W{k}')

In [319]:
info_C = []
info_W = []
info_E = []

In [320]:
with open(txt_file, encoding='utf8') as f:
    line = f.readline()
    while line:
        if "Condominium Apartments" in line:
            file_type = 1
            line = f.readline()
            for i in range(0, 16):
                if line.split(" ")[0] in area_C_temp:
                    info_C.append(line)
                    print(line)
                elif line.split(" ")[0] in area_E_temp:
                    info_E.append(line)
                elif line.split(" ")[0] in area_W_temp:
                    info_W.append(line)
                line = f.readline()
        line = f.readline()
    area_C = []
    sales_C = []
    avg_C = []
    med_C = []
    area_E = []
    sales_E = []
    avg_E = []
    med_E = []
    area_W = []
    sales_W = []
    avg_W = []
    med_W = []

    info_C_clean= []
    info_E_clean= []
    info_W_clean= []

    for info in info_C:
        for item in info.split(" "):
            if item != "":
                info_C_clean.append(item)
        area_C.append(info_C_clean[0])
        sales_C.append(info_C_clean[4])
        avg_C.append(info_C_clean[5])
        med_C.append(info_C_clean[6])
        info_C_clean = []
    for info in info_E:
        for item in info.split(" "):
            if item != "":
                info_E_clean.append(item)
        area_E.append(info_E_clean[0])
        sales_E.append(info_E_clean[4])
        avg_E.append(info_E_clean[5])
        med_E.append(info_E_clean[6])
        info_E_clean = []
    for info in info_W:
        for item in info.split(" "):
            if item != "":
                info_W_clean.append(item)
        area_W.append(info_W_clean[0])
        sales_W.append(info_W_clean[4])
        avg_W.append(info_W_clean[5])
        med_W.append(info_W_clean[6])
        info_W_clean = []

C-1       1          187,000         187,000       65         231,896      186,000       -                  -            -

C-2       1          183,000         183,000       12         288,683      241,000       -                  -            -

C-3       -                -               -        6         353,296      340,750       -                  -            -

C-4       -                -               -       11         153,091      145,000       -                  -            -

C-6       -                -               -        1         113,000      113,000       -                  -            -

C-7       8          208,250         202,750       20         192,239      172,900       1            258,000      258,000

C-8       5          188,280         162,700       56         190,946      183,500       -                  -            -

C-9       1          445,000         445,000        6         263,667      273,500       -                  -            -

C-10      3          235,500         230,500        7         253,564      272,000       -                  -            -

C-11      2          106,500         106,500        6         120,300      100,750       -                  -            -

C-12      2          212,750         212,750        -               -            -       -                  -            -

C-13      1          189,000         189,000        8         210,813      182,500       -                  -            -

C-14      4          258,750         248,000       27         199,641      192,000       -                  -            -

C-15     17          179,329         176,300       17         207,465      139,000       -                  -            -

In [321]:
area_C

['C-1',
 'C-2',
 'C-3',
 'C-4',
 'C-6',
 'C-7',
 'C-8',
 'C-9',
 'C-10',
 'C-11',
 'C-12',
 'C-13',
 'C-14',
 'C-15']

In [322]:
sales_C

['65', '12', '6', '11', '1', '20', '56', '6', '7', '6', '-', '8', '27', '17']

In [323]:
avg_C

['231,896',
 '288,683',
 '353,296',
 '153,091',
 '113,000',
 '192,239',
 '190,946',
 '263,667',
 '253,564',
 '120,300',
 '-',
 '210,813',
 '199,641',
 '207,465']